<section>
    <h2>The Healix Team</h2>
    <h3>Contact us</h3>

    <p>Whilst it is important that you read and understand this handbook, we understand that it is often easier to call us to obtain information. We have a team of medical specialists available to advise and help you, who can be contacted on the helpline number below:</p>
</section>

<section class="text-center background">
    <p>Tel: <a href="tel:0203 123 4567">0203 123 4567</a></p>
    <p>Email: <a href="mailto:abc@healix.com">abc@healix.com</a></p>
    <p>Monday-Friday 08.00-18.00</p>
    <p>(Excl. Bank Holidays) Saturday 08.00-13.00</p>
</section>

<section class="mt-3">
    <p>Telephone calls to and from our organisation are recorded for the purposes of quality and training. Any correspondence, including claims should be sent to the following address:</p>

    <section class="text-center background">
        <p>ABC Healthcare Plan</p>
        <p>Claims Administration Department</p>
        <p>Healix House, Esher Green</p>
        <p>Esher, Surrey</p>
        <p>KT10 8AB</p>
    </section>
</section>