<div class="d-flex align-items-center">
    <div class="col-sm-5 p-4">
        <p>Welcome to the ABC Healthcare Plan Guide.</p>
        <p>ABC have appointed us, Trust In
            Health Services Ltd, to manage
            this plan. Our role is to assess and
            manage any medical needs
            that you might have as well as any
            care and treatment you receive.</p>
        <p>Therefore, when you see the
            words “we”, “us” or “our” in this
            guide it means Trust In Health.</p>
    </div>
    <div class="col-sm-7">
        <img src="../../../assets/img/home-img.jpg" alt="">
    </div>
</div>