<mat-toolbar class="mat-elevation-z8 d-flex justify-content-between">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
          menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
          close
      </mat-icon>
  </button>
  
  <div class="col-sm-3">
    <img src="../assets/img/hsbc-logo.png" alt="">
  </div>
  
  <div class="col-sm-8 rightSec">
    <div class="d-flex align-items-center justify-content-end gap-4">
      <button type="button" class="btn btn-outline-custom-primary rounded-0">Login to membership portal</button>
      <div>
        <div>Healthcare Plan</div>
        <div class="small"><i class="fa fa-user"></i>+ 44 1222 9999</div>
      </div>
    </div>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <ul class="leftmenu">
      <li><a routerLink="/home" routerLinkActive="active">home</a></li>
      <li><a routerLink="/about-your-plan" routerLinkActive="active">About Your Plan</a></li>
      <li><a routerLink="/what-is-covered" routerLinkActive="active">What is Covered</a></li>
      <li><a routerLink="/making-a-claim" routerLinkActive="active">Making a Claim</a></li>
      <li><a routerLink="/contact-us" routerLinkActive="active">Contact Us</a></li>
      <li><a routerLink="/policy-changes" routerLinkActive="active">Policy Changes</a></li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <router-outlet></router-outlet>

      </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-footer></app-footer>